@import '../../theme/palette';

.task {
    margin-top: 15px;
    padding: 15px;
    background: $color2;
    span {
        margin: 0 15px;
        color: $textColor1;
    }

    .cross {
        position: relative;
        width: 14px;
        height: 14px;
        background-image: url('../../theme/assets/cross+.png');
        background-repeat: no-repeat;
        background-size: 28px;
        cursor: pointer;
        margin: 2px 0 0 15px;
        float: right;
        &:hover {
            background-position: -14px 0;
        }
    }

    .pencil {
        position: relative;
        width: 14px;
        height: 14px;
        background-image: url('../../theme/assets/pencil+.png');
        background-repeat: no-repeat;
        background-size: 28px;
        cursor: pointer;
        margin: 2px 0 0 15px;
        float: right;
        &:hover {
            background-position: -14px 0;
        }
    }
}
