@import '../../theme/palette';

.todo {
    background: #FFF;
    margin: 100px 0 40px;
    padding: 20px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 10px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
